.box{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.first{
    display: flex;
    margin-top: 5px;
}
.first>p{
    color: gray;
    font-weight: bold;
    font-size: large;
}