.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: white;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.9);

}
.minfo{
    display: flex;
    margin-top: 20px;
}

.avatar{
    margin-right: 10px;
    margin-top: 1px;
}

.logo>img{
    height: 30px;
    margin-right: 50px;
}
.icons{
    display: flex;
    margin-right: 50px;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;

}
.search >input{
    background-color: transparent;
    outline: none;
    border: none;

}
.rem{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.rem > .avatar{
    cursor: pointer;
    
}
.rem > .MuiButton-root{
    color: white;
    margin-left: 25px;
    text-transform: inherit;
    background: rgb(230, 100, 100);
    border-radius: 20px;
    cursor: pointer;
}
.rem > .MuiButton-root:hover{
    background-color: rgb(134, 60, 60);
}
.modal_input{
    margin-top: 10px;
    margin-bottom: 15px;
    width: auto;
}
.tag{
    margin-top: 20px;  
    margin-bottom: 20px;
    
}
.tags{
    display: flex;  
    flex-direction: column;
}


